<a class="highlight-title" style="background-color: {{ tag_background }}" href="{{ tag_link_url }}">
  <img src="{{ tag_icon_url }}">
  <span style="color: {{ tag_color }}">
    {{ tag_name }}
  </span>
</a>