<label for="{{ input_id }}" >Label for text input</label>
<input class="input-text" type="text" id="{{ input_id }}" name="{{ input_name }}" placeholder="{{ input_placeholder }}">
<select class="input-select" id="{{ select_id }}" name="{{ select_name }}" placeholder="{{ select_placeholder }}">
  <option value="option_1">{{ select_opt1 }}</option>
  <option value="option_1">{{ select_opt2 }}</option>
  <option value="option_1">{{ select_opt3 }}</option>
</select>
<textarea id="textarea_id" name="{{ textarea_name }}" placeholder="{{ textarea_placeholder }}"></textarea>

<input class="input-submit" type="submit" value="{{ submit_value }}">